<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>What is the progressive<br><em> muscle relaxation technique?</em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                        	<div class="fl-right">
                              <img src="app/styles/images/progressive-muscle-relaxation.jpg" width="264" height="167" alt="progressive muscle relaxation">
                            </div>                        
                            	<li>The physician E. Jacobson developed a set of exercises that will enable you to
                                learn effective ways of noticing and then reducing muscular tension wherever it
                                occurs in the body. He called his method ‘progressive relaxation’. The version of
                                Progressive Muscle Relaxation Technique given here is an effective but timeeconomical 
                                abbreviation of his overall method and focuses on the 15 main
                                muscle groups of the body. </li>
                            <li> Progressive Muscle Relaxation is a simple active process that reduces the levels
                                of muscular tension in the body quite naturally and automatically. It can also be
                                used to learn and increase your power to distinguish between the contrasting
                                states of muscular relaxation and tension. </li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
