<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
 <section id="projects2" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>How can you do the progressive muscle <em>relaxation technique?</em></h1>
                            <h2>Getting <em> ready</em></h2>
                        </div>
                        <div class="text-content">
                            <div class="section-heading">
                            <ul>
                        <li>You can practise in your normal clothes, preferably fairly loose fitting.</li>
                        <li>You need to allocate about 20 to 30 minutes to practise, during which you know
                            that you will not be disturbed. Let people know that it is important to you that you
                            are not disturbed. Hint: You may need to set an alarm as you can lose track of
                            time when doing this exercise. </li>
                        <li>Find a suitably quiet and comfortable place to practise. Soft, relaxing but not
                            intrusive background music of your choice may help you quietly to centre. You
                            can do the exercises sitting down, or lying down. A comfortable supporting chair
                            or soft place to stretch out with a supporting pillow for your lower back and/or
                            head is advisable).</li>
                        <li>Think now, “I can do this. It will work. The relaxation is an automatic response of
                            my body as I do the exercises. Ah, let it happen!”</li>
                    </ul>
                        <div class="section-heading">
                           <h2>Now you are ready to <em>relax.</em></h2>
                        </div>
                    <ul>
                           <li>The key to getting the ‘relaxation response’ is what you do with your muscles;
                            you alternate bringing tension to a muscle group with letting that tension go. </li>
                           <li>For instance bring tension to your forearms, by tightly clenching your fists. </li>
                           <li> Hold that tension for a gentle count of seven whilst breathing smoothly and then
                            just ‘let go’ of the muscle tension, by unclenching your fists quite abruptly. </li>
                           <li>Important Note: As you tense and ‘hold for the count of seven’ maintain your
                            attention on the tensing muscle, -for example, the forearms - so that you become
                            aware of the feeling in the muscle that is in tension.</li>
                           <li>Where is the feeling and how exactly does it feel? Notice it, be curious about it,
                            and notice the feeling in the muscles as you ‘let go’ of the tension, becoming
                            aware of the feeling that your muscle is in relaxation. Later you may want to try
                            tensing one forearm whilst relaxing the other to notice that contrast too. </li>
                           <li>It can be helpful to do the exercises with your eyes closed, keep a steady
                            breathing pattern going throughout the exercise?</li>
                           <li>Allow an interval of 20 seconds to elapse and then repeat the tension / release
                            pattern once or twice. </li>
                           <li>Generally speaking the fist-clenching as described above is a good place to start.
                            Now use a similar pattern and the same centred awareness to progress through
                            the main muscle groups in turn. </li>
                           <li>Move to the arms/shoulders, bring tension to them by hooking the fingers
                            together in front of you and pulling one set against the other (follow the pattern). </li>
                           <li> Place the palms of your hands together and press each firmly against the other
                            (follow the pattern).</li>
                           <li>Now work the legs by placing the feet flat on the floor, pressing them forward
                            against the resistance of the floor (follow the pattern). </li>
                           <li>Continue to progress through the muscle system of your body, clenching the
                            buttocks, tightening the stomach, shrugging the shoulders, pressing the
                            shoulders down by pushing the hands towards the ground, screw up the facial
                            muscles always following the same pattern. </li>
                           <li>Instead of repeating the tension relaxation pattern for each muscle group before
                            moving on to the next, you can do a single pattern for each muscle and then
                            move on to the next until you have worked through all the muscle groups once.
                            Then if you wish to further relax you can repeat the whole sequence once or
                            twice more. </li>
                           <li>You can also choose to repeat the pattern for any individual muscle group that
                            you sense a feeling of localised tension. </li>
                           <li>When you finish the sequence you may wish to spend some time continuing to
                            relax, in your chair or lying down.</li>
                           <li>When you are ready to move on to other things gradually re-orientate yourself to
                            your surroundings, count inwardly up to 10, open your eyes (if closed), stretch
                            gently, and steadily start to move about </li>
                           <li>You can systematically evaluate your own effectiveness in mastering this
                            relaxation as follows: </li>
                           <li> At the start of the session, rate your over-all tension score on a scale of <br>
                            1…………………………….to……………………………… 10 <br>
                            (1 = almost no tension 10 = very high tension) <button  style="background-color: transparent;border:none;" id="spechbtn3"><i id="mic1" class="fa fa-microphone" aria-hidden="true"></i></button></li>
                            <div id="c3" >
    <table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
     

    </table>
  </div>
                      
                             <form>
                              <textarea  id="textbox45" name="text" cols="100" rows="2" class="form-control"></textarea>
                           
                            </form>
                            <li> Repeat this evaluation at the end of the session to determine how well your
                                session has gone.  <br>
                                1…………………………….to……………………………… 10 <br>
                                (1 = almost no tension 10 = very high tension) <button  style="background-color: transparent;border:none;" id="b1"><i class="fa fa-microphone" aria-hidden="true"></i></button></li>
                               <div id="c1">
    <table  width="100%">
      <tr>
        <td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
      </tr>
      <tr>
        <td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>

                            <form>
                              <textarea style="  position:relative;"  id="t1" name="text" cols="100" rows="2" class="form-control"></textarea>
                              

                            </form>
                           <li>You can, if you wish, do a more detailed evaluation by applying the same before
                            and after rating to each major muscle group, or just certain targeted groups.</li>
                            </ul>         
            </section>         
</div>
<script>

    // status fields and start button in UI
    var textbox45;
    var t1;
    var spechbtn3;
    var b1;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizerone;

      spechbtn3 = document.getElementById("spechbtn3");
      b1 = document.getElementById("b1");
      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");

      textbox45 = document.getElementById("textbox45");
      t1 = document.getElementById("t1");


      spechbtn3.addEventListener("click", function () {
        spechbtn3.disabled = true;
        spechbtn3.style.color="red";
        textbox45.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          spechbtn3.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            spechbtn3.disabled = false;
            spechbtn3.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textbox45.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            spechbtn3.disabled = false;
            spechbtn3.style.color="black";
            textbox45.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      b1.addEventListener("click", function () {
        b1.disabled = true;
        b1.style.color="red";
        t1.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          b1.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            b1.disabled = false;
            b1.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            t1.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            b1.disabled = false;
            b1.style.color="black";
            t1.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });
      

      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
        spechbtn3.disabled = false;
        b1.disabled=false;

        spechbtn3.style.color="black";
        b1.style.color="black";



        document.getElementById('c3').style.display = 'block';
        document.getElementById('c1').style.display = 'block';

        document.getElementById('warning').style.display = 'none';
      }

  </script>